<a href="https://colab.research.google.com/github/ojamoo/My-Git-Project/blob/master/Quiz_StageB.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib
import matplotlib.pyplot as plt
from sklearn.preprocessing import MinMaxScaler
from sklearn.model_selection import train_test_split
from sklearn import datasets, linear_model
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_absolute_error
from sklearn.metrics import mean_squared_error
from sklearn.metrics import r2_score
from sklearn.linear_model import Ridge
from sklearn.linear_model import Lasso

In [2]:
df=pd.read_csv('https://archive.ics.uci.edu/ml/machine-learning-databases/00374/energydata_complete.csv')
print(df)

                      date  Appliances  lights  ...  Tdewpoint        rv1        rv2
0      2016-01-11 17:00:00          60      30  ...   5.300000  13.275433  13.275433
1      2016-01-11 17:10:00          60      30  ...   5.200000  18.606195  18.606195
2      2016-01-11 17:20:00          50      30  ...   5.100000  28.642668  28.642668
3      2016-01-11 17:30:00          50      40  ...   5.000000  45.410389  45.410389
4      2016-01-11 17:40:00          60      40  ...   4.900000  10.084097  10.084097
...                    ...         ...     ...  ...        ...        ...        ...
19730  2016-05-27 17:20:00         100       0  ...  13.333333  43.096812  43.096812
19731  2016-05-27 17:30:00          90       0  ...  13.300000  49.282940  49.282940
19732  2016-05-27 17:40:00         270      10  ...  13.266667  29.199117  29.199117
19733  2016-05-27 17:50:00         420      10  ...  13.233333   6.322784   6.322784
19734  2016-05-27 18:00:00         430      10  ...  13.200000  34.118851  34.118851

[19735 rows x 29 columns]

In [3]:
df.head()

                  date  Appliances  lights  ...  Tdewpoint        rv1        rv2
0  2016-01-11 17:00:00          60      30  ...        5.3  13.275433  13.275433
1  2016-01-11 17:10:00          60      30  ...        5.2  18.606195  18.606195
2  2016-01-11 17:20:00          50      30  ...        5.1  28.642668  28.642668
3  2016-01-11 17:30:00          50      40  ...        5.0  45.410389  45.410389
4  2016-01-11 17:40:00          60      40  ...        4.9  10.084097  10.084097

[5 rows x 29 columns]

In [4]:
#removing columns date and lights
features_df=df.drop(columns=['date','lights'])
features_df.head()

   Appliances     T1       RH_1  ...  Tdewpoint        rv1        rv2
0          60  19.89  47.596667  ...        5.3  13.275433  13.275433
1          60  19.89  46.693333  ...        5.2  18.606195  18.606195
2          50  19.89  46.300000  ...        5.1  28.642668  28.642668
3          50  19.89  46.066667  ...        5.0  45.410389  45.410389
4          60  19.89  46.333333  ...        4.9  10.084097  10.084097

[5 rows x 27 columns]

In [5]:
#normalizing the dataset to a common scale using minmaxscalar
scaler=MinMaxScaler()
normalised_df=pd.DataFrame(scaler.fit_transform(features_df),columns=features_df.columns)
normalised_df

       Appliances        T1      RH_1  ...  Tdewpoint       rv1       rv2
0        0.046729  0.327350  0.566187  ...   0.538462  0.265449  0.265449
1        0.046729  0.327350  0.541326  ...   0.533937  0.372083  0.372083
2        0.037383  0.327350  0.530502  ...   0.529412  0.572848  0.572848
3        0.037383  0.327350  0.524080  ...   0.524887  0.908261  0.908261
4        0.046729  0.327350  0.531419  ...   0.520362  0.201611  0.201611
...           ...       ...       ...  ...        ...       ...       ...
19730    0.084112  0.926786  0.537657  ...   0.901961  0.861981  0.861981
19731    0.074766  0.919747  0.536006  ...   0.900452  0.985726  0.985726
19732    0.242991  0.919747  0.538666  ...   0.898944  0.583979  0.583979
19733    0.383178  0.919747  0.549491  ...   0.897436  0.126371  0.126371
19734    0.392523  0.919747  0.538758  ...   0.895928  0.682391  0.682391

[19735 rows x 27 columns]

In [6]:
target_variable=normalised_df['Appliances']
print(target_variable)

0        0.046729
1        0.046729
2        0.037383
3        0.037383
4        0.046729
           ...
19730    0.084112
19731    0.074766
19732    0.242991
19733    0.383178
19734    0.392523
Name: Appliances, Length: 19735, dtype: float64

In [7]:
x = normalised_df[['T2']]
y = normalised_df[['T6']]

In [8]:
print(x)

             T2
0      0.225345
1      0.225345
2      0.225345
3      0.225345
4      0.225345
...         ...
19730  0.711655
19731  0.701769
19732  0.692651
19733  0.677054
19734  0.666171

[19735 rows x 1 columns]

In [9]:
print(y)

             T6
0      0.381070
1      0.375443
2      0.367487
3      0.363800
4      0.361859
...         ...
19730  0.898317
19731  0.880852
19732  0.864260
19733  0.829525
19734  0.788580

[19735 rows x 1 columns]

In [10]:
#we split our dataset into the training and testing dataset
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.3, random_state=42)

In [11]:
x_train.head()

             T2
9129   0.122850
2453   0.188999
9152   0.057427
12694  0.280834
16952  1.000000

In [12]:
y_train.head()

             T6
9129   0.180420
2453   0.275215
9152   0.131907
12694  0.444040
16952  0.944695

In [13]:
x_test.head()

             T2
8980   0.120669
2754   0.377272
9132   0.111461
14359  0.566271
8875   0.026411

In [14]:
y_test.head()

             T6
8980   0.211427
2754   0.250182
9132   0.168777
14359  0.501383
8875   0.155193

In [15]:
linear_model=LinearRegression()

In [16]:
#fit the model to the training dataset
linear_model.fit(x_train,y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [17]:
#obtain predictions
predicted_values=linear_model.predict(x_test)

In [18]:
#Mean Absolute Error
mae=mean_absolute_error(y_test,predicted_values)
round(mae,2)

0.08

In [19]:
#Residual Sum of Squares
rss=np.sum(np.square(y_test - predicted_values))
round(rss,2)

T6    66.12
dtype: float64

In [20]:
#Root Mean Square Error
rmse=np.sqrt(mean_squared_error(y_test,predicted_values))
round(rmse,3)

0.106

In [21]:
#R-Squared
from sklearn.metrics import r2_score
r2_score=r2_score(y_test,predicted_values)
round(r2_score,2)

0.64

In [22]:
#we split our main dataset into the training and testing dataset
x0_train, x0_test, y0_train, y0_test = train_test_split(features_df, target_variable, test_size=0.3, random_state=42)

In [26]:
#fit the model to the training dataset
linear_model.fit(x0_train,y0_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [27]:
#obtain predictions
predicted_values=linear_model.predict(x0_test)

In [28]:
#comparing the effects of regularisation
def get_weights_df(model, feat, col_name):
    
    #this function returns the weight of every feature
    weights = pd.Series(model.coef_, feat.columns).sort_values()
    weights_df = pd.DataFrame(weights).reset_index()
    weights_df.columns = ['Features', col_name]
    weights_df[col_name].round(3)
    return weights_df

In [30]:
linear_model_weights = get_weights_df(linear_model, x0_train, 'Linear_Model_Weight')
linear_model_weights

       Features  Linear_Model_Weight
0            T7        -6.849996e-18
1            T1        -5.404948e-18
2          RH_2        -2.800337e-18
3          RH_8        -2.243172e-18
4            T5        -2.013109e-18
5            T6        -1.297576e-18
6          RH_4        -1.081121e-18
7            T2        -6.013400e-19
8    Visibility        -4.369352e-19
9   Press_mm_hg        -1.989590e-19
10    Tdewpoint        -1.088353e-19
11          rv1        -6.142708e-20
12          rv2        -6.142708e-20
13         RH_6         8.849688e-20
14    Windspeed         1.344423e-19
15         RH_9         1.738467e-19
16         RH_5         2.929625e-19
17       RH_out         3.677446e-19
18         RH_3         1.112700e-18
19         RH_1         1.172159e-18
20           T3         1.347859e-18
21           T4         1.520884e-18
22        T_out         2.863808e-18
23         RH_7         2.890687e-18
24           T9         4.026672e-18
25           T8         5.046319e-18
26   Appliances         9.345794e-04

In [33]:
linear_model_weights.min()

Features               Appliances
Linear_Model_Weight     -6.85e-18
dtype: object

In [34]:
linear_model_weights.max()

Features                       rv2
Linear_Model_Weight    0.000934579
dtype: object

In [35]:
#Ridge Regression
ridge_reg=Ridge(alpha=0.4)
ridge_reg.fit(x0_train,y0_train)
print(ridge_reg)

Ridge(alpha=0.4, copy_X=True, fit_intercept=True, max_iter=None,
      normalize=False, random_state=None, solver='auto', tol=0.001)

In [36]:
#Lasso Regression
lasso_reg=Lasso(alpha=0.001)
lasso_reg.fit(x0_train,y0_train)
print(lasso_reg)

Lasso(alpha=0.001, copy_X=True, fit_intercept=True, max_iter=1000,
      normalize=False, positive=False, precompute=False, random_state=None,
      selection='cyclic', tol=0.0001, warm_start=False)

In [37]:
final_weights=pd.merge(linear_model_weights, ridge_weights_df,on='Features')
final_weights=pd.merge(final_weights,lasso_weights_df,on='Features')
print(round(final_weights,6))

NameError: ignored