<a href="https://colab.research.google.com/github/ojamoo/My-Git-Project/blob/master/Quiz_StageB.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib
import matplotlib.pyplot as plt
from sklearn.preprocessing import MinMaxScaler
from sklearn.model_selection import train_test_split
from sklearn import datasets, linear_model
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_absolute_error
from sklearn.metrics import mean_squared_error
from sklearn.metrics import r2_score
from sklearn.linear_model import Ridge
from sklearn.linear_model import Lasso

In [2]:
df=pd.read_csv('https://archive.ics.uci.edu/ml/machine-learning-databases/00374/energydata_complete.csv')
print(df)

                      date  Appliances  lights  ...  Tdewpoint        rv1        rv2
0      2016-01-11 17:00:00          60      30  ...   5.300000  13.275433  13.275433
1      2016-01-11 17:10:00          60      30  ...   5.200000  18.606195  18.606195
2      2016-01-11 17:20:00          50      30  ...   5.100000  28.642668  28.642668
3      2016-01-11 17:30:00          50      40  ...   5.000000  45.410389  45.410389
4      2016-01-11 17:40:00          60      40  ...   4.900000  10.084097  10.084097
...                    ...         ...     ...  ...        ...        ...        ...
19730  2016-05-27 17:20:00         100       0  ...  13.333333  43.096812  43.096812
19731  2016-05-27 17:30:00          90       0  ...  13.300000  49.282940  49.282940
19732  2016-05-27 17:40:00         270      10  ...  13.266667  29.199117  29.199117
19733  2016-05-27 17:50:00         420      10  ...  13.233333   6.322784   6.322784
19734  2016-05-27 18:00:00         430      10  ...  13.200000  34.118851  34.118851

[19735 rows x 29 columns]

In [3]:
df.head()

                  date  Appliances  lights  ...  Tdewpoint        rv1        rv2
0  2016-01-11 17:00:00          60      30  ...        5.3  13.275433  13.275433
1  2016-01-11 17:10:00          60      30  ...        5.2  18.606195  18.606195
2  2016-01-11 17:20:00          50      30  ...        5.1  28.642668  28.642668
3  2016-01-11 17:30:00          50      40  ...        5.0  45.410389  45.410389
4  2016-01-11 17:40:00          60      40  ...        4.9  10.084097  10.084097

[5 rows x 29 columns]

In [4]:
#removing columns date and lights
features_df=df.drop(columns=['date','lights'])
features_df.head()

   Appliances     T1       RH_1  ...  Tdewpoint        rv1        rv2
0          60  19.89  47.596667  ...        5.3  13.275433  13.275433
1          60  19.89  46.693333  ...        5.2  18.606195  18.606195
2          50  19.89  46.300000  ...        5.1  28.642668  28.642668
3          50  19.89  46.066667  ...        5.0  45.410389  45.410389
4          60  19.89  46.333333  ...        4.9  10.084097  10.084097

[5 rows x 27 columns]

In [5]:
#normalizing the dataset to a common scale using minmaxscalar
scaler=MinMaxScaler()
normalised_df=pd.DataFrame(scaler.fit_transform(features_df),columns=features_df.columns)

In [6]:
target_variable=normalised_df['Appliances']
print(target_variable)

0        0.046729
1        0.046729
2        0.037383
3        0.037383
4        0.046729
           ...
19730    0.084112
19731    0.074766
19732    0.242991
19733    0.383178
19734    0.392523
Name: Appliances, Length: 19735, dtype: float64

In [7]:
#we split our dataset into the training and testing dataset
x_train, x_test, y_train, y_test = train_test_split(normalised_df, target_variable, test_size=0.3, random_state=42)

In [8]:
x_train.head()

       Appliances        T1      RH_1  ...  Tdewpoint       rv1       rv2
9129     0.037383  0.497360  0.236767  ...   0.192308  0.724554  0.724554
2453     0.018692  0.286167  0.482616  ...   0.342383  0.864041  0.864041
9152     0.028037  0.422386  0.230529  ...   0.158371  0.499502  0.499502
12694    0.102804  0.560718  0.446840  ...   0.558069  0.323173  0.323173
16952    0.037383  0.835269  0.422071  ...   0.787330  0.341060  0.341060

[5 rows x 27 columns]

In [9]:
y_train.head()

9129     0.037383
2453     0.018692
9152     0.028037
12694    0.102804
16952    0.037383
Name: Appliances, dtype: float64

In [10]:
x_test.head()

       Appliances        T1      RH_1  ...  Tdewpoint       rv1       rv2
8980     0.028037  0.432946  0.230529  ...   0.298643  0.512428  0.512428
2754     0.074766  0.538543  0.717641  ...   0.352941  0.469466  0.469466
9132     0.037383  0.485744  0.233281  ...   0.190045  0.002761  0.002761
14359    0.037383  0.485744  0.385561  ...   0.466817  0.205799  0.205799
8875     0.056075  0.335093  0.223007  ...   0.233032  0.215015  0.215015

[5 rows x 27 columns]

In [11]:
y_test.head()

8980     0.028037
2754     0.074766
9132     0.037383
14359    0.037383
8875     0.056075
Name: Appliances, dtype: float64

In [12]:
linear_model=LinearRegression()

In [13]:
#fit the model to the training dataset
linear_model.fit(x_train,y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [14]:
#obtain predictions
predicted_values=linear_model.predict(x_test)

In [15]:
#Mean Absolute Error
mae=mean_absolute_error(y_test,predicted_values)
round(mae,6)

0.0

In [16]:
#Residual Sum of Squares
rss=np.sum(np.square(y_test - predicted_values))
round(rss,6)

0.0

In [17]:
#Root Mean Square Error
rmse=np.sqrt(mean_squared_error(y_test,predicted_values))
round(rmse,6)

0.0

In [18]:
#R-Squared
from sklearn.metrics import r2_score
r2_score=r2_score(y_test,predicted_values)
round(r2_score,6)

1.0

In [19]:
#Ridge Regression
ridge_reg=Ridge(alpha=0.4)
ridge_reg.fit(x_train,y_train)
print(ridge_reg)

Ridge(alpha=0.4, copy_X=True, fit_intercept=True, max_iter=None,
      normalize=False, random_state=None, solver='auto', tol=0.001)

In [20]:
#Lasso Regression
lasso_reg=Lasso(alpha=0.001)
lasso_reg.fit(x_train,y_train)
print(lasso_reg)

Lasso(alpha=0.001, copy_X=True, fit_intercept=True, max_iter=1000,
      normalize=False, positive=False, precompute=False, random_state=None,
      selection='cyclic', tol=0.0001, warm_start=False)

In [21]:
#comparing the effects of regularisation
def get_weights_df(model,feat, col_name):
  #this function returns the weight of every feature
  weights=pd.Series(model.coef_,feat.columns).sort_values()
  weights_df=pd.DataFrame(weights).reset_index()
  weights_df.columns=['Features',col_name]
  weights_df[col_name].round(3)
  return weights_df

In [22]:
linear_model_weights=get_weights_df(linear_model,x_train,'Linear_Model_Weight')
ridge_weights_df=get_weights_df(ridge_reg,x_train,'Ridge_Weight')
lasso_weights_df=get_weights_df(lasso_reg, x_train,'Lasso_weight')

In [23]:
final_weights=pd.merge(linear_model_weights, ridge_weights_df,on='Features')
final_weights=pd.merge(final_weights,lasso_weights_df,on='Features')
print(round(final_weights,6))

       Features  Linear_Model_Weight  Ridge_Weight  Lasso_weight
0          RH_2                 -0.0     -0.001493     -0.000000
1     Windspeed                 -0.0      0.000110      0.000000
2            T2                 -0.0     -0.000732      0.000000
3          RH_4                 -0.0      0.000089      0.000000
4          RH_3                 -0.0      0.000346      0.000000
5          RH_6                 -0.0      0.000129     -0.000000
6           rv2                 -0.0      0.000003     -0.000000
7           rv1                 -0.0      0.000003     -0.000000
8            T1                 -0.0     -0.000067      0.000000
9    Visibility                 -0.0      0.000044      0.000000
10           T5                 -0.0     -0.000072      0.000000
11           T8                  0.0      0.000367      0.000000
12           T7                  0.0      0.000037      0.000000
13           T3                  0.0      0.001046      0.000000
14         RH_5                  0.0      0.000059      0.000000
15        T_out                  0.0     -0.000952      0.000000
16           T9                  0.0     -0.000686      0.000000
17         RH_8                  0.0     -0.000570     -0.000000
18           T6                  0.0      0.000789      0.000000
19  Press_mm_hg                  0.0      0.000024     -0.000000
20    Tdewpoint                  0.0      0.000302      0.000000
21         RH_1                  0.0      0.001887      0.000000
22         RH_7                  0.0     -0.000167     -0.000000
23           T4                  0.0      0.000099      0.000000
24         RH_9                  0.0     -0.000150     -0.000000
25       RH_out                  0.0     -0.000199     -0.000000
26   Appliances                  1.0      0.996368      0.891991